html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


.wrapper{
    min-width: 1280px;
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: minmax(900px, auto) minmax(502px, auto) minmax(1027px,auto) 900px 522px 600px;
}

.grid-item{
    /*border: 1px solid #222;*/
}

.header{
    display: grid;
    grid-template-columns: 1fr;
}

header.header_box .logo img{
    margin-top: 87px;
    margin-left: 210px;
}

header.header_box nav{
    display:flex;
    justify-content: flex-end;
    margin-top: -4%;
    margin-right: 10%;
    text-transform: uppercase;
    color: #222;
    font-size: 18px;
    font-family: 'Fira Sans', sans-serif;
}

header.header_box nav ul{
    display: flex;
}
header.header_box nav a{
    margin-right: 10px;
    color: inherit;
    text-decoration: none;
    font-weight: 700;
}

header .header_text{
    margin-top: 200px;
    margin-left: 210px;
}
header .header_text h1{
    font-size: 72px;
    font-family:'Fira Sans', sans-serif; 
    font-weight: 100;
    padding-bottom: 18px;
}
header .header_text h2 {
    font-size: 72px;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 100;
    padding-bottom: 27px;
}
header .header_text p {
    font-size: 30px;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 100;

}
header .header_text span {
    font-weight: 700;
}



.about{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.about .about_text{
    background-color:#f3f1ef;
}
.about .info_box{
    margin-top: 113px;
    margin-left: 58px;
    text-align: left;
    width: 520px;
}

.about .info_box h3{
    font-size: 24px;
    font-family: 'Fira Sans', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 45px;
}
.about .info_box p{
    font-size: 36px;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 100;
}




.gallery{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 513px;
    background-color: #3f729b;
}
.gallery .grid-item:nth-child(5){
    grid-column-start: 1;
    grid-column-end: 3;
}

.gallery .info_box{
    margin-top: 123px;
    margin-left: 200px;
    color: #fff;
}
.gallery .info_box h4{
    font-size: 24px;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 700;
    color: inherit;
    margin-bottom: 45px;
}
.gallery .info_box p{
    font-size: 36px;
    font-weight: 100;
    font-family: 'Fira Sans', sans-serif;
    margin-bottom: 43px;
    color: inherit;
}
.gallery .info_box .button{
    color: inherit;
    display: block;
    width: 278px;
    height: 37px;
    border: 2px solid #fff;
    border-radius: 50px;
    text-align: center;
    padding-top: 21px;
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.1em;
}


.gallery .info_box .button:hover{
    background-color: #fff;
    transition: all 300ms ease-in-out;
    color: #3f729b;
}


.music{
    display:grid;
    grid-template-columns: 1fr 3fr;
    background-color: #282b2f;
    background: url(./img/music.png) no-repeat center;
    background-size: cover;
}

.music .grid-item:first-child{
    background-color: #282b2f;
}

.music .container{
    position: relative;
    background-color: #212227;
    max-width: 380px;
    height: 500px;
}

.music .container .content_box{
    position: absolute;
    top: 140px;
    left: 57px;
    bottom: 0;
    right: 0;
    color: #2ebd59;
    
}
.music .container .content_box h4{
    font-size: 24px;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    color: inherit;
    margin-bottom: 17px;
}

.music .container .content_box span{
    font-size: 18px;
     font-family: 'Fira Sans', sans-serif;
     font-weight: 400;
     color: inherit;
     text-transform: uppercase;
} 

.music .container .content_box p{
    padding-top: 40px;
    font-size: 14px;
    font-weight: 100;
    line-height: 21px;
    color: #fff;
    font-family: 'Fira Sans', sans-serif;
    margin-bottom: 50px;
}

.music .container .content_box .button {
    color: inherit;
    display: block;
    width: 180px;
    height: 37px;
    border: 2px solid #2ebd59;
    border-radius: 50px;
    text-align: center;
    padding-top: 21px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    font-family: 'Fira Sans', sans-serif;
}

.music .container .content_box .button:hover{
    color: #fff;
    background-color: #2ebd59;
    transition: all 300ms ease-in-out;
}


.music-about{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.music-about .grid-item:first-child{
    background-color: #2ebd59;
}
.music-about .grid-item:last-child {
    background-color: #282b2f;
}

.music-about .spotify{
    margin-top: 140px;
    margin-left: 212px;
    color: #fff;
     font-family: 'Fira Sans',sans-serif;
}
.music-about .spotify h4{
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 50px;
    color:inherit;
}
.music-about .spotify p{
    font-size: 36px;
    font-weight: 100;
    text-align: left;
    margin-bottom: 40px;
    line-height: 47px;
}
.music-about .spotify .button{
    color: inherit;
    display: block;
    width: 297px;
    height: 37px;
    border: 2px solid #fff;
    border-radius: 50px;
    text-align: center;
    padding-top: 21px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    font-family: 'Fira Sans', sans-serif;
    letter-spacing: 0.3em;
}





.music-about .itunes {
    margin-top: 140px;
    margin-left: 62px;
    color: #fff;
    font-family: 'Fira Sans', sans-serif;
}

.music-about .itunes h4 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 50px;
    color: inherit;
}

.music-about .itunes p {
    font-size: 36px;
    font-weight: 100;
    text-align: left;
    margin-bottom: 40px;
    width: 470px;
    line-height: 47px;
}

.music-about .itunes .button {
    color: inherit;
    display: block;
    width: 297px;
    height: 37px;
    border: 2px solid #fff;
    border-radius: 50px;
    text-align: center;
    padding-top: 21px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    font-family: 'Fira Sans', sans-serif;
    letter-spacing: 0.3em;
}



footer{
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
}